@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

.font {
  /* font-family: "Yellowtail", cursive; */
  font-family: "Anton", sans-serif;
  text-align: center;
  color: white;
  letter-spacing: 0.5rem;
  text-shadow: 2px 2px #474747;
}

.fontSize {
  margin-top: 45px;
  font-size: 50px;
}

.reactPhoto {
  height: 500px;
  box-shadow: -10px 5px 5px rgb(105, 105, 105);
  margin-top: -50px;
}

.avatar {
  width: 50px;
  margin-left: -20px;
  margin-top: -30px;
}

.contact {
  display: inline-block;
  margin-left: 10px;
  color: rgb(139, 39, 81);
}

.icons {
  color: #30c8dd;
}
